body {
  margin: 0;
  background: linear-gradient(130deg, rgb(29, 29, 29), black);
  font-family: 'MyFont';
  background-repeat: no-repeat;
  min-height: 100vh;
}

@font-face {
    font-family: 'MyFont';
    src: url('./fonts/에이투지체-1Thin.woff2') format('woff2');
    font-weight: 100;
}
@font-face {
    font-family: 'MyFont';
    src: url('./fonts/에이투지체-2ExtraLight.woff2') format('woff2');
    font-weight: 200;
}
@font-face {
    font-family: 'MyFont';
    src: url('./fonts/에이투지체-3Light.woff2') format('woff2');
    font-weight: 300;
}
@font-face {
    font-family: 'MyFont';
    src: url('./fonts/에이투지체-4Regular.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'MyFont';
    src: url('./fonts/에이투지체-5Medium.woff2') format('woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'MyFont';
    src: url('./fonts/에이투지체-6SemiBold.woff2') format('woff2');
    font-weight: 600;
}
@font-face {
    font-family: 'MyFont';
    src: url('./fonts/에이투지체-7Bold.woff2') format('woff2');
    font-weight: 700;
}
@font-face {
    font-family: 'MyFont';
    src: url('./fonts/에이투지체-8Extrabold.woff2') format('woff2');
    font-weight: 800;
}
@font-face {
    font-family: 'MyFont';
    src: url('./fonts/에이투지체-9Black.woff2') format('woff2');
    font-weight: 900;
}